# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.tox/
.coverage
.cache
.pytest_cache/

# PyCharm / VSCode
.idea/
.vscode/

# OS files
.DS_Store

# Environment
env/
venv/
ENV/

# local env files
.env
